* {
    margin: 0px;
    padding: 0px;
}

nav {
    background-color: darkgreen;
    border-bottom: 1px solid white;
    padding: 15px;
    text-align: center;
}

.item-menu {
    color: white;
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    font-family: 'Open Sans', 'Helvetica';
}

header {
    background-color: #5e5c5c;
    text-align: center;
    padding: 60px;
    font-family: 'Open Sans', 'Helvetica';
}

.main-title {
    font-size: 50px;
    font-weight: 900;
    color: rgb(253, 253, 253);
}

.subtitle {
    font-style: italic;
    color: rgb(103, 238, 103);
}