/*2 - Crie um arquivo no mesmo diretório e nomeie-o de 'style.css'.
3 - Nesse arquivo .css, adicione os estilos para que:





/*3-O texto das tags 'h1' e 'p' estejam centralizados.*/

h1,
p {
    text-align: center;
}


/*A cor de fundo da sua lista mude quando o cursor estiver sobre o item.
A fonte do item mude quando ele for clicado.*/

li:hover {
    background-color: blueviolet;
}

li:active {
    font-family: Arial, Helvetica, sans-serif;
}