.speaker-form-header {
    text-align: center;
    padding: 20px;
    margin: 5px auto;
}

.box-style {
    width: 80%;
    padding: 20px;
    margin: 0px auto;
    border: 1px solid black;
}

fieldset {
    border: none;
}

.line-content {
    margin: 20px;
}