body {
  margin: 30px;

}
h1 {
  font-size: x-large;
}

h2 {

}

p{
  font-size: x-large;
}

img {
    max-width: 100%;
    margin: 20px 0;
}

figure {
    float: left;
    width: 45%;
    margin-right: 4.5%;
}

@media screen and (min-width: 800px){
body{
  background-color: rgb(169, 163, 175);
    margin: 25px 10%;
}

h1, h2 {
  font-size: xx-large;
}

p{
  font-size: xx-large;
}

figure{
  width: 30%;
  margin-right: 2.5%;
}
}

@media screen and (min-width: 1300px){
body{
  background-color: rgb(226, 226, 226);
  margin: 20px 15%;
  max-width: 1130px;
}

h1, h2 {
  font-size: xxx-large;
}

p{
  font-size: xx-large;
}

}
